<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h3>Hello World!</h3>
<input [(ngModel)]="todoItem" type="text" placeholder="Eintrag hinzufügen"/>
<button (click)="addToDo()" [disabled]="!todoItem" style="margin-left: 1rem;">Hinzufügen</button>
<div class="data">
  <ul>
    <li *ngFor="let item of toDoArray">{{item}}</li>
  </ul>
</div>
<router-outlet></router-outlet>